services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer:/data
    labels:
      - traefik.enable=true
      - traefik.http.routers.portainer.tls=true
      - traefik.http.routers.portainer.rule=Host(`portainer.${MAGEFLEET_SERVICE_DOMAIN:-magefleet.test}`)
      - traefik.http.services.portainer.loadbalancer.server.port=9000
    restart: ${MAGEFLEET_RESTART_POLICY:-always}
